<div class="product-card" (click)="viewProductDetails()">
  <div class="product-image-container">
    <img [src]="product.imgUrl || 'assets/placeholder-image.jpg'" [alt]="product.title" class="product-image">
  </div>
  <div class="product-info">
    <div class="price-section">
      <span class="current-price">LKR{{ product.price.toFixed(2) }}</span>
      <span class="original-price" *ngIf="product.originalPrice">LKR{{ product.originalPrice.toFixed(2) }}</span>
      <span class="discount-badge" *ngIf="product.discountPercentage">{{ product.discountPercentage }}% off</span>
    </div>
    <div class="tax-info">Tax excluded, add at checkout if applicable : Extra 2% off with coins</div>
    
    <h3 class="product-title">{{ product.title }}</h3>
  </div>
</div> 